<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="\js\ingredientdailyhistoryscript.js"></script>
<link rel = "stylesheet" href = "/styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>ITISDEV RESTAURANT</a>
</div>

<div class = "title">
    <h1>End-of-Day Inventory Report</h1>
    <div class = "line"></div>

    <form action = "/reports/ingredient_dailyHistory_report" method ="POST">
    <h2>Filter By:</h2>

    <div class="entry">
        <a>Date</a>
        <select class="dropdown" name ="date" id="date">
            <% dailyReports.forEach(dailyReports => { %>
                <option  label="<%= dailyReports.date %>" value="<%= dailyReports.date %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>

</div>
<div class="btn1"><button class="button1" type="submit" href="/">GENERATE REPORT</button></div>
</form>


</body>
</html>