<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="\js\ingredientdailyhistoryscript.js"></script>
<link rel = "stylesheet" href = "/styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>ITISDEV RESTAURANT</a>
</div>

<div class = "title">
    <h1>End-of-Day Inventory Report</h1>
    <div class = "line"></div>

    <form action = "/reports/ingredient_dailyHistory_report" method ="POST">
    <h2>Filter By:</h2>

    <div class="date">
        <a><label for="start">Date:</label> </a>

            <input class="dropdown" type="date" id="start" name="trip-start"
                value="2022-11-07"
                min="2022-11-07">
    </div>
</div>
<div class="btn1"><button class="continue" type="submit" href="/">GENERATE REPORT</button></div>
</form>


</body>
</html>