<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>RESTAURANT NAME</a>
</div>

<div class = "title">
    <h1>Create New Ingredient</h1>
    <div class = "line"></div>

    <div class="entry">
        <a>Ingredient Name </a>
        <input type="text" id="fname" name="fname">
    </div>

    <div class="entry">
        <a>Specify Ingredient's Default Unit</a>
        <select name="ingredient_def_unit" id="ingredient_def_unit">
            <option value="ingredient_def-unit_g">g</option>
            <option value="ingredient_def-unit_mg">mg</option>
             <option value="ingredient_def-unit_ml">ml</option>
       </select>
    </div>

</div>




</body>
</html>