<!DOCTYPE html>
<html>

<head>
    <title>Create a Recipe</title>
    <link rel="stylesheet" href="layouts/styles.css">
    <script type="text/javascript" src="js\createrecipescript.js"></script>

    <!--In need of a crashcourse before I proceed!!-->

</head>

<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">CHEF</a>
        <a href="/home_chef" class="nav-home">HOME</a>
    </div> 

    <div class="title">
        <h1>Create a Recipe</h1>
        <hr>

        <div class="entry"> <!-- Might be changed to form-->
            <a>Recipe Name</a>
            <!-- Textbox--><!-- trial value=" %= recipes.recipe_name %" refer to record_firsttime.ejs -->
            <input type="text" id="recipe_name" name="recipe_name">
        </div>

        <form action = "/record_firsttime" method="POST">
        <div class="entry">
            <a>Ingredients Used</a>
            
            <div class="ingredients_in_recipe">

                <!--input type="text" id="ingredient_name" name="ingredient_name" placeholder="Ingredient Name"-->
                    <!--Must be dropdown-->
                <select name="ingredient_name" id="ingredient_name">
                    <option value="ingredient_cheese">Cheese</option>
                    <option value="ingredient_milk">Milk</option>
                    <option value="ingredient_flour">Flour</option>
                </select> 

                <input type="number" min="1" id="ingredient_value" name="ingredient_value" placeholder="Ingredient Value">
                
                <!--input type="text" id="ingredient_unit" name="ingredient_unit" placeholder="Ingredient Unit"-->
                    <!--Must be dropdown-->
                <select name="ingredient_unit" id="ingredient_unit">
                    <option value="unit_grams">G</option>
                    <option value="unit_kilograms 2">KG</option>
                     <option value="unit_milligrams">MG</option>
               </select>
               <br>
               
            </div> <br>
            
            <button onclick="addIngredient()" id="add_ingredient">Click me to add more</button>
                <!--Click so user can add more ingredients-->
    </div>
    
    <button class="continue" type="submit" href="/view_recipe">CONTINUE</button>
    </form>

</body>
</html>
