<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home Screen</title>
</head>
<body>
    <div class="topnav">
        <a>ITISDEV RESTAURANT</a>
        <a href="#about" class="nav-user">CASHIER</a>
        <a href="/home_cashier" class="nav-home">HOME</a>
    </div>
    
    <div class="box-container">
        <div class="box-item box-item-1"> <p><a href="/cashier/cashier_menu"> Create Recipe </a></p> </div>
        <div class="box-item box-item-2"> <p><a href="/logout"> Log Out </a></p> </div>
    </div>
    
</body>
</html>