<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layouts/Home.css">
    <title>Home Screen</title>
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">Manager</a>
        <a href="/home_manager" class="nav-home">HOME</a>
    </div>
    
    <div class="box-container">
        <div class="box-item box-item-1"> <p><a href="TestTest.html"> View Reports </a></p> </div>
        <div class="box-item box-item-2"> <p><a href="TestTest.html"> Toggle Recipe </a></p> </div>
        <div class="box-item box-item-2"> <p><a href="/employeeView"> View Employee </a></p> </div>
        <div class="box-item box-item-2"> <p><a href="/recordsView"> Manage Records </a></p> </div>
        <div class="box-item box-item-2"> <p><a href="/"> Log Out </a></p> </div>
    </div>
    
</body>
</html>