<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layouts/styles.css">
    <title>Login</title>
</head>

<body>
    <!--Need to div sizes?, Place checkbox beside the "remember me" text, Add font-->
    <div class="topnav">
        <a>RESTAURANT NAME</a> 
        <a href="cashier/cashier_menu">cashier_menu</a>
        <a href="ingredients/create_ingredient">create_ingredient</a>
        <a href="recipes/create_recipe">create_recipe</a>
        <a href="/home_chef">home_chef</a>
        <a href="/home_manager">home_manager</a>
        <a href="/home_stockctrl">home_stockctrl</a>
        <a href="orders/record_firsttime">record_firsttime</a>
        <a href="ingredients/record_spoiled">record_spoiled</a>
        <a href="ingredients/view_inventory-controller">view_inventory-controller</a>
        <a href="ingredients/view_inventory-chef">view_inventory-chef</a>
        <a href="ingredients/view_inventorypurchases">view_inventorypurchases</a>
        <a href="recipes/view_recipe">view_recipe</a>
        <a href="ingredients/record_physical">record_physical</a>
        <a href="/test_userDetails">test_userDetails</a>    
        <a href="orders/record_itempurchase">record_itempurchase</a>
        <a href="ingredients/view_discrepancy">view_discrepancy</a>
        <a href="/register">register</a>
        <a href="reports/ingredient_order_report">ingredient_order_report</a>
        <a href="reports/ingredient_dailyHistory_report">ingredient_dailyHistory_report</a>

    </div> 
    <div class="halfgrid">
        <div class="content-half-box">
            <form action="/login" method ="POST">
            <h2>Username</h2><input type="email" id="email" name="email">
            <h2>Password</h2><input type="password" id="password" name="password">
            <div>
            <br>
            Remember Me?<input type="checkbox">
            </div>
            <button type="submit" class="login">Login</button>
            </form>
        </div>
        <div class="content-half-box">
            <h1>Restaurant Icon Here</h1>
        </div>
    </div>
</body>

</html>