<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layouts/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">STOCK CONTROLLER</a>
        <a href="/home_stockctrl" class="nav-home">HOME</a>
    </div> 

    <form action="/record_physical" method="post">
        <div class="title">
        <h1>Record Physical Count</h1>
        <hr>

        <div class="entry">
            <a>Ingredient Name</a>

            <!-- Dropdown Menu-->
            <select name="ingredient_names" id="ingredient_names" onchange="changeSystemCount(count)">
                <% ingredStock.forEach(ingredStock => { %>
                    <option  label="<%= ingredStock.ingredientName %>" value="<%= ingredStock.ingredientName %>">
                        <% var count = ingredStock.totalUnitValue %>  <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
                <% }) %>
              </select>
        </div>

        <div class="entry"> <!-- Might be changed to form-->
            <a>Quantity</a>
            <!-- Textbox-->
            <input type="number" id="fname" name="fname">
        </div>

        <div class="entry">
            <a>System Count: </a>
            <a id="count"></a>
        </div>

        <!-- Date can be changed to a better one-->
        <div class="date">
            <a><label for="start">Date Recorded:</label> </a>

                <input type="date" id="start" name="trip-start"
                    value="2022-11-07"
                    min="2022-11-07">
        </div>

            <button type="submit" class="confirm">Confirm</button>
            <button type="button" class="cancel" href="/home_stockctrl">Cancel</button>
        
        </div>
    </form>
    <script>
        function changeSystemCount(count){
            var x = document.getElementById("count")
            x.nodeValue= count
        }
    </script>

</body>
</html>