<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">STOCK CONTROLLER</a>
        <a href="/home_stockctrl" class="nav-home">HOME</a>
    </div> 
    <form action = "/record_firsttime" method="POST">
        <div class="title">
            <h1>Record First Time Purchase</h1>
            <hr>
    
            
           
            <div class="entry"> 
                <a>Ingredient Name </a>
                <!-- Textbox-->
                <input type="text" name="name" value="<%= ingredientorder.name %>">
            </div>
            <div class="entry">
                <a>Ingredient Type</a>
                <!-- Dropdown Menu-->
               <select name ="ingredientType" id="type">
                <% ingredients.forEach(ingredients => { %>
                    <option  label="<%= ingredients.ingredientType %>" value="<%= ingredients.ingredientType %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
                <% }) %>
              </select>
            </div>
            <div class="entry">
                <a>Net Weight </a>
                <!-- Textbox-->
                <input type="number" name="unitValue" min="1" value="<%= ingredientorder.unitValue %>">
    
       
                <select name="ingredient-names" id="ingredient-names">
                     <option value="recipe 1">G</option>
                     <option value="recipe 2">KG</option>
                      <option value="recipe 3">MG</option>
                </select> <br><br><br><br>
                
            </div>
            
    
            
        </div>
        <button class="continue" type="submit" href="/record_itempurchase">CONTINUE</button>
    

    </form>
    
</body>
</html> 
