<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">STOCK CONTROLLER</a>
        <a href="/home_stockctrl" class="nav-home">HOME</a>
    </div> 
    <div class="title">
        <h1>Test Users</h1>
        <hr>

        <div class="entry"> <!-- Might be changed to form-->
            <a>Username: <%=users.username %> </a>
        </div>
        <div class="entry">
            <a>Password: <%=users.password %></a>
        </div>
        <div class="entry">
            <a>User Type: <%= users.userType %></a>
        </div>
     
    </div>

</body>
</html> 
