<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">STOCK CONTROLLER</a>
        <a href="/home_stockctrl" class="nav-home">HOME</a>
    </div> 
    <div class="title">
        <h1>Test Discrepancies</h1>
        <hr>
        
        {{#each posts}}
        <div class="entry"> <!-- Might be changed to form-->
            <a>Count Type ID: <%=discrep.countID %> </a>
        </div>
        <div class="entry">
            <a>Ingredient ID: <%=discrep.ingredientID %></a>
        </div>
        <div class="entry">
            <a>Quantity Diff: <%= discrep.quantityDiff %></a>
            <br><br><br><br>
            <button type="button" class="continue">CONTINUE</button>
        </div>

        
    </div>

</body>
</html> 