<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="topnav">
        <a>RESTAURANT NAME</a>
        <a href="#about" class="nav-user">STOCK CONTROLLER</a>
        <a href="/home_stockctrl" class="nav-home">HOME</a>
    </div> 
    <div class="title">
        <h1>Test User Type</h1>
        <hr>

        <div class="entry"> <!-- Might be changed to form-->
            <a>User Type ID: <%=usertype.userTypeID %> </a>
        </div>
        <div class="entry">
            <a>Ingredient Type: <%= usertype.userTypeName %></a>
            <br><br><br><br>
            <button type="button" class="continue">CONTINUE</button>
        </div>

        
    </div>

</body>
</html> 
