<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layouts/styles.css">
    <title>View Inventory for Chef</title>
    
</head>
<body>
    <div class="title">
        <h1>View Inventory</h1>
        
    <!-- Table for View Inventory-->
    <div class="tableInventory">
        <table>
            <tr>
              <th>Ingredient Name</th>
              <th>Running Balance</th>
              <th>Unit</th>
            </tr>
            
            <!-- Loops Each ingredient data onto the table-->
            <% ingredients.forEach(ingredients => { %>
                <tr>
                    <td><%= ingredients.ingredientType %></td>
                    <td><%= ingredients.totalUnitValue %></td>
                    <td><%= ingredients.unitID %></td>
                </tr>
            <% }); %> 
            
            <!--
           <tr>
              <td>Ingredient 1</td>
              <td>1000</td>
              <td>g</td>
            </tr>
            <tr>
                <td>Ingredient 2</td>
                <td>1000</td>
                <td>g</td>
            </tr>
            --> 

          </table>

    </div>
    
</body>
</html>