<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "/styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>ITISDEV RESTAURANT</a>
 <a href="#about" class="nav-user">CHEF</a>
 <a href="/home_chef" class="nav-home">HOME</a>
</div>

<div class = "title">
    <h1>Create New Ingredient</h1>

    <form action = "/ingredients/create_ingredient" method ="POST">
        <div class = "entry">
            <a>Ingredient Type</a>
            <input type = "text" id = "ingredient_type" name = "ingredient_type" value="<%=ingredient.ingredient_type%>">
        </div>

    <div class="entry">
        <a>Specify Ingredient's Default Unit</a>
        <select class="dropdown" name ="unit" id="unit">
            <% unit.forEach(unit => { %>
                <option  label="<%= unit.unitName %>" value="<%= unit.unitName %>"> <!-- Value = Mapupunta sa fields Label = Magpapakita sa input -->
            <% }) %>
          </select>
    </div>


<button class="button1" type="submit" href="/">CREATE</button>
</form>

</div>


</body>
</html>