<!DOCTYPE html>
<html>

<head>
<link rel = "stylesheet" href = "/styles.css"> 
</head>

<body>

<div class = "topnav">
 <a>RESTAURANT NAME</a>
</div>

<div class = "title">
    <h1>Create New Ingredient</h1>
    <hr>

    <form action = "/ingredients/create_ingredient" method ="POST">
        <div class = "entry">
            <a>Ingredient Type</a>
            <input type = "text" id = "ingredient_type" name = "ingredient_type" value="<%=ingredient.ingredient_type%>">
        </div>

    <div class="entry">
        <a>Specify Ingredient's Default Unit</a>
        <select name="ingredient_def_unit" id="ingredient_def_unit">
            <option value="ingredient_def-unit_g">g</option>
            <option value="ingredient_def-unit_mg">mg</option>
             <option value="ingredient_def-unit_ml">ml</option>
       </select>
    </div>

</div>
<button class="continue" type="submit" href="/">CREATE</button>
</form>




</body>
</html>