<!DOCTYPE html>
<html lang="en">

<head>
<link rel = "stylesheet" href = "/styles.css"> 
<script type="text/javascript" src="\js\viewrecipescript.js"></script>
</head>

<body>

<div class = "topnav">
 <a>ITISDEV RESTAURANT</a>
 <a href="#about" class="nav-user">CHEF</a>
 <a href="/home_chef" class="nav-home">HOME</a>
</div>

<div class = "title">
    <h1>Recipe List</h1>
    <div class = "line"></div>
</div>

<!--TODO: Recipe Cards-->

<div>
  <div class="btn1">
    <h1>Search by recipe or ingredient</h1>
  <input id="searchinput" type="text" placeholder="Search..">
  </div>
  <div id ="recipecollapse">
  <% recipe.forEach(recipe => { %>
    <% if (recipe.active == true) { %>
    <div class ="collapse"><button type = "button" class = "collapsible"><%= recipe.recipeName %></button>
      <div class = "content">
          <table class = "table2">
            <tr>
              <th>Ingredient</th>
              <th>Amount</th>
              <th>Unit</th>
          </tr>
          <!-- Loops Each ingredient data onto the table-->

          
            <% recipeIngredients.forEach(recipeIngredients => { %>
              <% if(recipeIngredients.ingredientID == recipe.recipeID){ %>
                <tr>
              <td><%= recipeIngredients.ingredientType %></td>
              <td><%= recipeIngredients.totalUnitValue %></td>
              <td><%=recipeIngredients.unit %></td>
            </tr>
              <% } %>
             
          <% }) %>
            
          
          </table>
          
      </div>
      </div>
      <% } %>
      <% }) %>
    </div>
</div>
</div>


<!--Need javascript to make collapsible functional-->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>



</body>
</html>