<script type="text/javascript" src="\js\cashiermenuscript.js"></script>
<link rel="stylesheet" href="/styles.css">
<div class="inline-two">
    <div class="menu-container">
        <h1> MENU</h1>
        <div class="menu-card">
            
            <% recipename.forEach(recipename => { %>
                <% if(recipename.active == true){ %>
                <tr>
                    <button onclick="addItem(this.id)" id ="<%= recipename.recipeName%>">

                        <!-- On click: Query get recipeingredient of clicked recipe
                            with ingredient value from recipe
                            Store value and name into array
                            Use array to compute for value decreases in POST
                        -->
                    <div class="card-container" >
                    <td><%= recipename.recipeName %></td>
                    <p>PRICE</p>
                    </div>
                    </button>
                </tr>
               <% } %>
            <% }); %> 
        </div>
    </div>
    <div class="checkout-container">
        <form action = "/cashier/cashier_menu" method="POST">
        <h1> CHECKOUT</h1>
        <div class="checkout-details">
            <table>
                <tr class ="table-header">
                    <th>ITEM NAME</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                </tr>
                <%= customerorder.quantity_value %>
                
        </div>
        <div class="totals">
            <table>
                <tr>
                    <td>SUBTOTAL</td>
                    <td>PRICE</td>
                </tr>
                <tr>
                    <td>TOTAL</td>
                    <td>TOTAL</td>
                </tr>        
        </div>

        <button class="continue" type="submit" href="/">CONTINUE</button>
        </form>
    </div>
</div>